<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
  <br>&copy; 2018 &mdash; {{ site.time | date: '%Y' }}
    </div>
  </div>
</div>
<br>


</div

</body>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.maxHeight){
      content.maxHeight = null;
    } else {
      content.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
</html>
